---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {
  Astronav,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
  MenuIcon,
  MenuItems,
} from 'astro-navbar';
import NavBar from '../components/NavBar';
import SiteContent from '../components/SiteContent.astro';
---

<Layout title='Gym24 Page'>
  <main class='mx-auto'>
    <NavBar client:load />
    <SiteContent />
  </main>
</Layout>
