<section
  class='h-1/2 bg-black overflow-hidden relative px-10 pb-8 py-28 xs:pt-40 xl:px-60'
>
  <div
    class='z-30 relative flex flex-col pt-40 gap-16 text-center xs:pt-10 xs:mb-52 lg:text-left'
  >
    <header
      class='text-center flex justify-center lg:justify-start lg:text-left'
    >
      <h2
        class='text-white text-3xl font-medium xs:w-11/12 xs:text-5xl lg:text-6xl lg:w-8/12'
      >
        Free trial session with a trainer
      </h2>
    </header>
    <footer>
      <a href='#' class='py-4 px-14 bg-[#FAFF00] rounded-full'>Detailed</a>
    </footer>
  </div>
  <div
    class='imagenFondo bg-cover bg-center object-cover bg-no-repeat absolute shadow-imagenFondo z-10 brightness-50 xs:w-[35rem] xs:h-[32rem] xs:left-5 xs:-top-1 sm:left-auto sm:right-0 sm:top-0 xl:left-auto xl:right-0 xl:top-5 xl:w-7/12 xl:h-5/6 lg:brightness-75'
  >
  </div>
</section>

<style>
  .imagenFondo {
    background-image: url('/man.jpg');
  }

  .test h2 {
    font-size: 40px;
  }
</style>
