<footer class='text-white w-full h-16 text-center py-20'>
  <h2>© Copyright Lautaro Aguilar</h2>
  <p>
    Contact: <a
      class='hover:text-[#FAFF00]'
      href='mailto:aguilarlautaroexequiel867@gmail.com'>Email</a>
  </p>
</footer>
