---
import ReasonsList from './ReasonsList';
---

<section
  class='w-full bg-black text-white text-center xs:mb-40'
  id='Advantages'
>
  <h2 class='text-3xl py-10'>Reasons to join</h2>
  <ReasonsList client:load />
</section>
